.cv-top {
	height: 600px;
	background: linear-gradient(-45deg,#4d628e,#2b374f);
	position: relative;
	display: flex;
	justify-content: center;
}

.cv-bottom {
	background: whitesmoke;
	height: 400px;
/*	color: #2b374f;*/
	transform:skew(0deg,-5deg);
	-ms-transform:skew(0deg,-10deg);
	-webkit-transform:skew(0deg,-4deg);
  	margin-top:-50px;
}

.cv-bottom-wrapper {
	transform:skew(0deg,5deg);
	-ms-transform:skew(0deg,10deg);
	-webkit-transform:skew(0deg,4deg);
	/*position: relative;
	display: flex;
	justify-content: center;*/
}

.cv-img {
	position: absolute;
	top: 70px;
	width: 510px;
	z-index: 400;
	box-shadow: 2px 6px 30px rgba(0, 0, 0, 0.1);
}

.cv-download-button {
	position: absolute;
	top: 150px;
	right: 110px;
	font-size: 30px;
	color: #32b5e5;
	border: solid 2px #32b5e5;
	border-radius: 50%;
	width: 50px;
	height: 50px;
	padding-top: 6px;
	padding-left: 9px;
	transition: 0.7s;
}

.cv-download-button:hover {
	color: #62c2e5;
	border: solid 2px #62c2e5;
}

@media (max-width: 425px) {
	.cv-top {
		height: 70vh;
	}
	.cv-bottom {
		height: 50vh;
	}
	.cv-img {
		top: 150px;
		width: 310px;
	}
}
