.cv-top {
	height: 600px;
	display: flex;
	justify-content: center;
}

.cv-bottom {
	height: 400px;
}

.cv-bottom-wrapper {
	transform:skew(0deg,5deg);
	-ms-transform:skew(0deg,10deg);
	-webkit-transform:skew(0deg,4deg);
}

.cv-img {
	position: absolute;
	top: 70px;
	width: 510px;
	z-index: 400;
	box-shadow: 2px 6px 30px rgba(0, 0, 0, 0.1);
}

.cv-img:hover {
	cursor: pointer;
	box-shadow: 2px 6px 30px rgba(0, 0, 0, 0.25);
}

.cv-download-button {
	position: absolute;
	top: 150px;
	right: 110px;
	font-size: 30px;
	color: #32b5e5;
	border: solid 2px #32b5e5;
	border-radius: 50%;
	width: 50px;
	height: 50px;
	padding-top: 6px;
	padding-left: 9px;
	transition: 0.7s;
	z-index: 500;
}

.cv-download-button:hover {
	color: #62c2e5;
	border: solid 2px #62c2e5;
}

.cv-modal-background {
	position: fixed;
	top: 0px;
	bottom: 0px;
	right: 0px;
	left: 0px;
	background: rgba(0,0,0,0.5);
	z-index: 500;
	transition: 0.5s;
	opacity: 0;
	visibility: hidden;
}

.cv-modal-background:hover {
	cursor: pointer;
}

.cv-modal-background-show {
	opacity: 1;
	visibility: visible;
}

.cv-modal-container {
	display: flex;
	justify-content: center;
	position: relative;
}

.cv-modal {
	position: absolute;
	top: 40px;
	width: 800px;
	z-index: 500;
	transition: 0.5s;
	opacity: 0;
	visibility: hidden;
}

.cv-modal-show {
	opacity: 1;
	visibility: visible;
}

.cv-modal-close {
	z-index: 1000;
	font-size: 30px;
	position: fixed;
	top: 20px;
	right: 20px;
	font-weight: 200;
	border: solid 2px #d20e32;
	border-radius: 50%;
	width: 45px;
	height: 45px;
	color: #d20e32;
	transition: 0.7s;
	padding-left: 10px;
	padding-top: 1px;
}

.cv-modal-close:hover {
	cursor: pointer;
	border: solid 2px #e0536c;
	color: #e0536c;
}

@media (max-width: 425px) {
	.cv-top {
		height: 70vh;
	}
	.cv-bottom {
		height: 50vh;
	}
	.cv-img {
		top: 150px;
		width: 310px;
	}
}
