.about-container {
	height: 870px;
	justify-content: center;
	display: flex;
	font-family: Open Sans;
	font-size: 20px;
	color: #2b374f;
}

.about-container a {
	color: #0ba343;
	font-weight: bold;
}

.about-content {
	width: 80%;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	margin-top: 160px;
}

.about-section {
	width: 280px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.about-icon {
	font-size: 40px;
	text-align: center;
	width: 70px;
	height: 70px;
	border-radius: 50%;
	margin-bottom: 40px;
}

.about-icon-briefcase {
	color: #32b5e5;
	border: 2px solid #32b5e5;
	padding-top: 4px;
}

.about-icon-code {
	color: #edcb10;
	border: 2px solid #edcb10;
	padding-top: 2px;
}

.about-icon-heart {
	color: #d20e32;
	border: 2px solid #d20e32;
	padding-top: 5px;
}

@media (max-width: 768px) {
	.about-container {
		height: 2000px;
	}

	.about-content {
		margin-top: 100px;
		justify-content: center;
		width: 70%;
		font-size: 18px;
	}
}

@media (max-width: 1024px) and (min-width: 769px) {
	.about-content {
		width: 85%;
	}

	.about-section {
		width: 210px;
	}
}
