.down-button-container {
	position: fixed;
	bottom: 10px;
	z-index: 500;
	font-size: 55px;
	color: #d20e32;
	width: 100%;
	display: flex;
	justify-content: center;
}

.down-button {
	transition: 1s;
}

.down-button:hover {
	cursor: pointer;
	color: #e0536c;
}

.down-button-hide {
	opacity: 0;
	visibility: hidden;
}
