.main-container {
	height: 750px;
	color: #d0d4dd;
}

.main-message {
	position: absolute;
	top: 260px;
	left: 200px;
	font-size: 100px;
	font-family: Nunito;
	display: flex;
	flex-wrap: wrap;
	text-shadow: 0 2px 8px rgba(34,34,34,.4);
}

.main-text {
	position: absolute;
	top: 430px;
	left: 350px;
	font-size: 22px;
	font-family: Open Sans;
	color: #b8bac1;
	line-height: 33px;
	text-shadow: 0 2px 8px rgba(34,34,34,.4);
}

.main-photo-container {
	position: absolute;
	bottom: 120px;
	right: 110px;
}

.main-photo {
	width: 220px;
	border-radius: 50%;
	box-shadow: 2px 6px 30px rgba(0, 0, 0, 0.2);
}

.main-H {
	color: #edcb10;
}

.main-W {
	color: #32b5e5;
}

@media (min-width: 769px) {
	.main-text {
		width: 500px;
	}
}

@media (max-width: 1024px) and (min-width: 769px) {
	.main-message {
		top: 200px;
		left: 110px;
	}

	.main-text {
		top: 370px;
		left: 260px;
	}

	.main-photo-container {
		position: absolute;
		bottom: 90px;
		right: 60px;
	}

	.main-photo {
		width: 180px;
		border-radius: 50%;
	}
}

@media (max-width: 768px) and (min-width: 426px) {
	.main-message {
		top: 160px;
		left: 80px;
		font-size: 80px;
		line-height: 80px;
	}

	.main-text {
		top: 340px;
		left: 20vw;
		font-size: 20px;
		width: 60vw;
	}

	.main-photo-container {
		position: absolute;
		bottom: 90px;
		right: 60px;
	}

	.main-photo {
		width: 160px;
		border-radius: 50%;
	}
}

@media (max-width: 425px) {
	.main-container {
		height: 100vh !important;
	}

	.main-message {
		position: absolute;
		top: 120px;
		left: 30px;
		font-size: 80px;
		line-height: 80px;
	}

	.main-text {
		top: 300px;
		left: 50px;
		font-size: 18px;
		width: 260px;
		line-height: 28px;
	}

	.main-photo-container {
		position: absolute;
		bottom: 70px;
		right: 15px;
	}

	.main-photo {
		width: 110px;
	}
}
