.projects-top-container {
	height: 600px;
	color: #d0d4dd;
	display: flex;
	justify-content: center;
}

.projects-bottom-container {
	height: 500px;
	color: #2b374f;
}

.projects-bottom-wrapper {
	transform:skew(0deg,5deg);
	-ms-transform:skew(0deg,10deg);
	-webkit-transform:skew(0deg,4deg);
	position: relative;
	display: flex;
	justify-content: center;
}

.projects-perso {
	position: absolute;
	top: 130px;
	left: 170px;
	font-family: Nunito;
	font-size: 27px;
}

.projects-perso-P {
	color: #edcb10;
}

.projects-contributed-P {
	color: #d20e32;
}


.projects-contributed {
	position: absolute;
	top: 80px;
	right: 200px;
	font-family: Nunito;
	font-size: 27px;
	font-weight: bold;
}

.projects-top-content {
	width: 75%;
	height: 150px;
	position: absolute;
	top: 270px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;

}

.projects-top-content a {
	color: #d0d4dd;
}

.projects-bottom-content a, .projects-bottom-content h5 {
	color: #2b374f;
	font-weight: bold;
}

.projects-bottom-content {
	width: 75%;
	height: 150px;
	position: absolute;
	top: 230px;
	display: flex;
	flex-wrap: wrap;
}

@media (max-width: 425px) {
	.projects-perso {
		top: 130px;
	}

	.projects-contributed {
		left: 60px;
		width: 200px;
	}

	.projects-top-container {
		height: 1000px;
	}
}
