.project-container {
	width: 500px;
	display: flex;
	text-decoration: none;
	margin-bottom: 40px;
}

.projects-top-container a {
	text-decoration: none;
}

.projects-bottom-container a {
	text-decoration: none;
}

.project-pic {
	width: 140px;
	height: 140px;
	border-radius: 50%;
	box-shadow: 2px 6px 30px rgba(0, 0, 0, 0.3);
	transition: 0.7s;
}

.project-title {
	transition: 0.7s;
}

.project-description {
	transition: 0.7s;
}

.project-content {
	padding-left: 20px;
	text-shadow: 0 2px 8px rgba(0,0,0,.3);
}

.project-content h5 {
	font-family: Nunito;
	font-size: 22px;
}

.project-content p {
	padding-left: 10px;
	font-family: Open Sans;
}

.project-github:hover {
	color: #32b5e5;
}

.project-icon {
	width: 16px;
	margin: 0px 4px;
	box-shadow: 2px 6px 30px rgba(0, 0, 0, 0.2);
	border-radius: 50%;
}

@media (max-width: 425px) {
	.project-container {
		flex-wrap: wrap;
		justify-content: center;
	}
	.project-content {
		padding-left: 0px;
	}
	.project-content p {
		padding-left: 0px;
	}
	.project-content h3 {
		text-align: center;
	}
}
