.header-container {
	width: 100%;
	height: 0px;
	display: flex;
	justify-content: center;
	position: fixed;
	top: 0px;
	font-size: 17px;
	font-family: Nunito;
	z-index: 500;
	text-shadow: 0 2px 8px rgba(34,34,34,.15);
}

.header-box {
	width: 85%;
}

.header-top {
	height: 50px;
	border-bottom: solid 2px #d0d4dd;
}

.header-bottom {
	height: 50px;
}

.header-top-content {
	height: 100%;
	width: 240px;
	display: flex;
	justify-content: space-between;
	padding-top: 18px;
	font-size: 20px !important;

}

.header-bottom-content {
	float: right;
	height: 100%;
	width: 300px;
	display: flex;
	justify-content: space-between;
	padding-top: 5px;
}

.header-container a, span {
	color: #d0d4dd;
	text-decoration: none;
}

.header-container a:hover {
	color: #848aa5 !important;
}

.header-container span:hover {
	cursor: pointer;
	color: #848aa5 !important;
}

.header-link {
	transition: 0.5s;
}


@media (max-width: 425px) {
	.header-top-content {
		width: 100%;
	}

	.header-bottom-content {
		width: 100%;
	}
}
